.container {
	width: 100vw;
	height: 100vh;
	margin: 0;
	perspective: 400px;
	background: url(image.jpg);
	background-size: cover;
}

.box {
	position: absolute;
	transform-style: preserve-3d;
	transform: translateZ(26vw) translateX(42vw) translateY(25vh);
}


.box > *{
	position: absolute;
	box-sizing: border-box;
	width: 200px;
	height: 200px;
	border: 5px solid black;
	background: linear-gradient(grey,white);
}


/*right panel*/
.box > *:nth-child(1){ transform: rotateY( 90deg) translateZ(100px); }
/*left panel*/
.box > *:nth-child(2){ transform: rotateY(-90deg) translateZ(100px); }
/*top panel*/
.box > *:nth-child(3){ transform: rotateX( 90deg) translateZ(100px); }
/*right panel*/
.box > *:nth-child(4){ transform: rotateX(-90deg) translateZ(100px); }
